
@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--domain-wasteland-color: rgb(161, 161, 132);
	--domain-wasteland-color-dark: rgb(80, 80, 65);
	--domain-forest-color: rgb(110, 165, 110);
	--domain-forest-color-dark: rgb(63, 92, 63);
	--domain-mines-color: rgb(143, 166, 189);
	--domain-mines-color-dark: rgb(77, 90, 102);
	--domain-sanctum-color: rgb(159, 124, 192);
	--domain-sanctum-color-dark: rgb(78, 61, 94);
	--domain-courtyard-color: rgb(197, 138, 127);
	--domain-courtyard-color-dark: rgb(105, 72, 67);

	--currency-research-color: skyblue;
	--currency-mana-color: rgb(165, 89, 236);
	--currency-mana-color-dark: rgb(64, 34, 92);
}

html, body
{
	user-select: none;

	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #303030;
	color: #f0f0f0;
	
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	flex-direction: column;
}

*
{
	scrollbar-width: thin;
}

*::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background: none;
}
*::-webkit-scrollbar-thumb
{
	background-color: #303030;
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover
{
	background-color: #404040;
}
*::-webkit-scrollbar-thumb:active
{
	background-color: #606060;
}
*::-webkit-scrollbar-corner
{
	background-color: black;
}

/****************************************************************************************************************************************/
#AlphaTest
{
	font-size: 12px;
	text-align: center;
	background: black;
	color: #903030;
	padding: 2px;
}

#DebugContainer
{
	background: black;
	color: #a0a0a0;
	padding: 4px;
	display: flex;
	flex-direction: row;
	height: 24px;
	font-size: 12px;
}
#DebugContainer:not(.Visible)
{
	display: none;
}

#DebugContainer > div
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#DebugContainer input[type=checkbox]
{
	cursor: pointer;
}
#DebugContainer label
{
	cursor: pointer;
	padding: 1px;
}
#DebugContainer label:hover
{
	color: #eee;
}
/****************************************************************************************************************************************/
#LoadingScreen
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	text-align: center;
	line-height: 100vh;
	font-size: 12px;
	color: #808080;
}
#LoadingScreen.Hidden
{
	display: none;
}

/****************************************************************************************************************************************/
#CurrenciesBar
{
	width: 100%;
	padding: 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #000000;
	border-bottom: 1px solid black;
	flex-grow: 0;
	flex-shrink: 0;
}

#CurrenciesBar > div
{
	font-size: 14px;
	height: 20px;
	padding-left: 22px;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: left;
	margin: 4px 14px;
	display: none;
	flex-direction: row;
	min-width: 115px;
}
#CurrenciesBar.ShowStorage > div
{
	min-width: 150px;
}
#CurrenciesBar > div.Visible
{
	display: flex;
}
#CurrenciesBar .Current
{
	display: block;
	margin-left: 4px;
	color: #e0e0e0;
}
#CurrenciesBar .Income
{
	display: block;
	margin-left: 4px;
	color: #909090;
	font-size: 12px;
	padding-top: 2px;
}
#CurrenciesBar .Income.Negative
{
	color: red;
}

#CurrenciesBar .CurrencyResearch .Income
{
	color: white;
	font-size: 14px;
	padding-top: 0;
}
#CurrenciesBar .CurrencyPrestige, #CurrenciesBar .CurrencyPrestigescraps,
#CurrenciesBar.ShowStorage .CurrencyPrestige, #CurrenciesBar.ShowStorage .CurrencyPrestigescraps
{
	min-width: 50px;
}
#CurrenciesBar .CurrencyResearch, #CurrenciesBar.ShowStorage .CurrencyResearch
{
	min-width: 80px;
}
#CurrenciesBar .CurrencyPrestige .Income
{
	display: none;
}

/****************************************************************************************************************************************/
#Tooltip
{
	z-index: 100;
	position: absolute;
	padding: 15px;
	visibility: hidden;
	pointer-events: none;
}
#Tooltip.Visible
{
	visibility: visible;
}

#Tooltip > div
{
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #303030;
	border-top-color: #404040;
	border-bottom-color: #101010;
	border-radius: 4px;
	box-shadow: 2px 2px 16px 8px black;
	background-color: #000000f8;
	box-sizing: border-box;
	max-width: 380px;
	min-width: 200px;
}

#Tooltip h1
{
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 2px;
	color: gold;
	text-align: center;
}

#Tooltip hr
{
	border: none;
	border-bottom: 1px solid #303030;
	margin-bottom: 4px;
	width: 100%;
}

#Tooltip p
{
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 0;
}
#Tooltip .Lore
{
	font-style: italic;
	color: #808080;
}
#Tooltip .Information
{
	margin-top: 0;
	color: white;
	margin-bottom: 2px;
}

#Tooltip .Information.TechEffect
{
	margin-left: 10px;
}
#Tooltip .Information.TechEffectText
{
	margin-left: 10px;
}
#Tooltip .TechEffectHeader, #Tooltip .SpellEffectHeader
{
	color: gold;
	margin-bottom: 4px;
	margin-top: 4px;
}
#Tooltip .UpkeepHeader
{
	color: #808080;
	margin-bottom: 4px;
	margin-top: 4px;
}

#Tooltip .MasteryHeader
{
	margin-bottom: 4px;
	margin-top: 4px;
}
#Tooltip .MasteryHeader .Left
{
	color: #ff9100;
	padding-left: 18px;
	background: url("images/mastery.svg") no-repeat left/16px;
}
#Tooltip .Information.MasteryBonus
{
	color: white;
	margin-left: 10px;
}
#Tooltip .Information.MasteryBonus.Unachieved
{
	color: #606060;
}
#Tooltip .Information.MasteryBonus.Unachieved *
{
	color: #606060;
	background: none;
	padding-left: 0;
}

#Tooltip .Information.TechNotResearched, #Tooltip .Information.SpellNotActive
{
	color: #808080;
}
#Tooltip .Information.Prerequisite
{
	color: red;
}
#Tooltip .Information.Hint
{
	margin-top: 4px;
	font-size: 11px;
	color: #606060;
}
#Tooltip .Information.Warning
{
	margin-top: 4px;
	font-size: 11px;
	color: orange;
}
#Tooltip .Information .Spell, #Tooltip .Information .Building
{
	color: gold;
}
#Tooltip .Information .Technology
{
	color: var(--currency-research-color);
	padding-left: 18px;
	background: url("images/research.svg") no-repeat left/16px;
}
#Tooltip .Information .Mastery
{
	color: #ff9100;
	padding-left: 18px;
	background: url("images/mastery.svg") no-repeat left/16px;
}
#Tooltip .Information .MissingCurrency
{
	color: orange;
}
#Tooltip .Information .MissingCurrencyStorage
{
	color: red;
	padding-right: 18px;
	background: url("images/missing-storage.svg") no-repeat right/14px;
}
#Tooltip .Information .Clarification
{
	font-style: italic;
	color: #808080;
}

#Tooltip .InformationLeftRight
{
	width: 100%;
	display: flex;
	flex-direction: row;
}
#Tooltip .InformationLeftRight .Right
{
	margin-left: auto;
}
#Tooltip .Ascension
{
	color: #ff9100;
}

#Tooltip .TechResearch .Left
{
	color: var(--currency-research-color);
	background-image: url("images/research.svg");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 0% 50%;
	padding-left: 18px;
}

h3
{
	margin: 0;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	color: darkgoldenrod;
	
}

/****************************************************************************************************************************************/
#MainContent
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #080808;
	flex: 1 1 100%;
	min-height: 0;
}

/****************************************************************************************************************************************/
#MiddleColumn
{
	flex: 1 1 760px;
	min-height: 0;

	display: flex;
	flex-direction: column;
}

#TechTabButton { background-image: url("images/tab-research.svg"); }
#PrestigeTabButton { background-image: url("images/tab-phylactery.svg"); }
#RecordsTabButton { background-image: url("images/tab-records.svg"); }

/* Tech/Prestige tab bar is only enabled if prestige features are enabled */
body:not(.PrestigeEnabled):not(.RecordsEnabled) #MiddleColumn .TabBar,
body:not(.PrestigeEnabled) #PrestigeTabButton,
body:not(.RecordsEnabled) #RecordsTabButton
{
	display: none;
}

/****************************************************************************************************************************************/
#PrestigeUpgrades
{
	padding: 20px 10px;

	overflow-x: auto;
	overflow-y: auto;
	flex: 1 1;
	position: relative;

	background-color: #101010;
	background-image: url(images/bg-research.svg);
	background-size: 80px;

	box-shadow: inset 0px 0px 32px 16px black;
}

#Technologies
{
	padding: 20px 10px;

	overflow-x: auto;
	overflow-y: auto;
	flex: 1 1;
	position: relative;

	background-color: #101010;
	background-image: url(images/bg-research.svg);
	background-size: 80px;

	box-shadow: inset 0px 0px 32px 16px black;
}
#TechnologiesInner, #PrestigeUpgradesInner
{
	position: relative;
	max-width: 760px;
	margin: auto auto;
}
#TechTreeLines, #PrestigeTreeLines
{
	width: 100%;
	position: absolute;
}
#TechTreeNodes, #PrestigeTreeNodes
{
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
}
#TechTreeNodes > div, #PrestigeTreeNodes > div
{
	width: 100%;
	height: 65px;
	position: relative;
}
#TechTreeNodes > div.Hidden
{
	display: none;
}

.TechTreeLine
{
	position: absolute;
	animation-name: FadeIn;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}
.TechTreeLine path
{
	stroke: #707070;
	stroke-width: 3px;
	fill: none;
	
	transition: stroke 0.3s;
}
.TechTreeLine.Locked path
{
	stroke: #242424;
}
.TechTreeLine.Hidden
{
	display: none;
}


.Tech
{
	width: 48px;
	height: 48px;
	background-size: 66% 66%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #101010;
	box-shadow: 0px 0px 6px 3px black;
	border-radius: 48px;
	position: absolute;
	cursor: pointer;

	animation-name: FadeIn;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;

	transition: filter 0.3s;
}

@keyframes TechResearching {
	from {
		background-color: #102030;
		box-shadow:
			inset 0px 0px 6px 3px black,
			0px 0px 4px 2px rgba(0, 0, 0, 1),
			0px 0px 24px rgba(119, 200, 255, 0.5);
	}
	50% {
		background-color: #204060;
		box-shadow:
			inset 0px 0px 6px 3px black,
			0px 0px 4px 2px rgba(0, 0, 0, 0.75),
			0px 0px 24px rgb(119, 200, 255);
	}
	to {
		background-color: #102030;
		box-shadow:
			inset 0px 0px 6px 3px black,
			0px 0px 4px 2px rgba(0, 0, 0, 1),
			0px 0px 24px rgba(119, 201, 255, 0.5);
	}
}
@keyframes TechResearchingChoked {
	from {
		background-color: #302010;
		box-shadow:
			inset 0px 0px 6px 3px black,
			0px 0px 4px 2px rgba(0, 0, 0, 1),
			0px 0px 16px rgba(255, 165, 0, 0.25);
	}
	50% {
		background-color: #483018;
		box-shadow:
			inset 0px 0px 6px 3px black,
			0px 0px 4px 2px rgba(0, 0, 0, 0.75),
			0px 0px 16px rgb(255, 165, 0, 0.75);
	}
	to {
		background-color: #302010;
		box-shadow:
			inset 0px 0px 6px 3px black,
			0px 0px 4px 2px rgba(0, 0, 0, 1),
			0px 0px 16px rgba(255, 165, 0, 0.25);
	}
}

.Tech.Hidden
{
	display: none;
}
.Tech.Researching
{
	animation: TechResearching 2.0s infinite;
	animation-timing-function: ease-in-out;
}
.Tech.Locked:not(.Researched)
{
	filter: brightness(20%);
	cursor: default;
}
.Tech.Choked
{
	animation: TechResearchingChoked 2.0s infinite;
	animation-timing-function: ease-in-out;
}

.Tech .ProgressRing
{
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	border: 3px solid #404040;
	border-radius: 48px;
	position: absolute;

	transition: border-color 0.3s;
}
.Tech.Researching .ProgressRing
{
	border-color: #606060;
}
.Tech:not(.Researching):not(.Locked):hover .ProgressRing
{
	border-color: #707070;
}
.Tech:not(.Researching):not(.Locked):active .ProgressRing
{
	border-color: #c0c0c0;
}
.Tech.Researched.MaxLevel1 .ProgressRing
{
	border-color: #a0a0a0;
}
.Tech.Researched.MaxLevel
{
	filter: brightness(40%);
}
.Tech.Researched.MaxLevel .ProgressRing
{
	border-color: rgb(115, 197, 122);
}

.Tech .ProgressRingClip
{
	position: absolute;
	width: 24px;
	height: 48px;
	overflow: hidden;
	left: 24px;
}

.Tech .ProgressFill
{
	width: 24px;
	height: 48px;
	border: 3px solid #808080;
	position: absolute;
	box-sizing: border-box;
	transition: border-color 0.3s;
}
.Tech.Researching .ProgressFill
{
	border-color: var(--currency-research-color);
}
.Tech.Choked .ProgressFill
{
	border-color: orange;
}
.Tech:not(.Researching):not(.Locked):hover .ProgressFill
{
	border-color: #d0d0d0;
}
.Tech .ProgressFill.Left
{
	border-radius: 48px 0 0 48px;
	border-right: none;
	transform-origin: right;
}
.Tech .ProgressFill.Right
{
	border-radius: 0 48px 48px 0;
	border-left: none;
	transform-origin: left;
}

.Tech .Level
{
	border: 2px solid #a0a0a0;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: #000000;
	position: absolute;
	text-align: center;
	font-size: 11px;
	color: palegreen;
	left: 32px;
	top: 32px;
	visibility: hidden;
}

.Tech.Researched .Level
{
	visibility: visible;
}
.Tech.Researched.MaxLevel1 .Level
{
	background-image: url(images/check-green.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 12px 12px;
}


.PrestigeUpgrade
{
	width: 48px;
	height: 48px;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #101010;
	box-sizing: border-box;
	border: 3px solid #404040;
	box-shadow: 0px 0px 6px 3px black;
	border-radius: 48px;
	position: absolute;
	cursor: pointer;

	animation-name: FadeIn;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}
.PrestigeUpgrade.Locked:not(.Purchased)
{
	filter: brightness(20%);
	cursor: default;
}
.PrestigeUpgrade.Purchased
{
	border-color: #ff9100;
}

#Records
{
	padding: 20px 10px;

	overflow-x: auto;
	overflow-y: auto;

	flex: 1 1;
	position: relative;

	background-color: #101010;
	background-image: url(images/bg-research.svg);
	background-size: 80px;

	box-shadow: inset 0px 0px 32px 16px black;
}

#Records #FeatsContainer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

#Records .Feat
{
	flex: 0 0 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 48px;

	background: black;
	padding: 6px;
	margin: 2px;
	border: 1px solid #606060;
	border-radius: 4px;
	box-shadow: 0px 0px 6px 3px black;
}
#Records .FeatName
{
	font-size: 13px;
	color: #808080;
	text-align: center;
}
#Records .FeatDescription
{
	font-size: 11px;
	color: #808080;
	text-align: center;
}

#Records .Feat.Achieved
{
	border-color: gold;
}
#Records .Feat.Achieved .FeatName
{
	color: gold;
}
#Records .Feat.Achieved .FeatDescription
{
	color: #c0c0c0;
}

/****************************************************************************************************************************************/
#Spellbook
{
	padding: 20px 10px;
	
	flex: 0 0.5 425px;
	overflow-x: hidden;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background-color: #181018;
	background-image: url("images/bg-spellbook.svg");
	background-size: 80px;

	box-shadow: inset 0px 0px 16px 8px black;
}

#SpellList
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#SpellQueue
{
	flex: 0 0;
	min-height: 48px;
	display: flex;
	flex-direction: row;
	margin: 16px;
	background:black url("images/bg-spellqueue.svg") left/40px no-repeat;
	box-shadow: 0px 0px 4px 4px black;
	padding-left: 46px;
}
#SpellQueue.Hidden
{
	display: none;
}

.SpellButton
{
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(to right,#00000000 0%, #000000ff 15%, #000000ff 50%, #00000000);
	margin: 0 20px 5px 20px;
}
.SpellButton.Visible
{
	display: flex;
}
.SpellButton.HasDuration
{
	background: linear-gradient(to right,#00000000 0%, var(--currency-mana-color-dark) 15%, #000000ff 50%, #00000000);
}

.SpellButton .SpellButtonButton
{
	display: flex;
	flex-direction: row;
	flex: 1 1 0;
}
.SpellButton .Icon
{
	width: 36px;
	height: 36px;
	border: 2px solid #303030;
	border-top-color: #404040;
	border-bottom-color: #202020;
	border-radius: 36px;
	box-shadow: 1px 1px 4px 2px black;
	background: linear-gradient(#101010, #000000);
	position: relative;
	box-sizing: border-box;
}
.SpellButton.HasDuration .Icon
{
	border: 2px solid #201030;
	border-top-color: #302040;
	border-bottom-color: #100020;
	box-shadow: 0px 0px 4px 1px var(--currency-mana-color);
}
.SpellButton .SpellButtonButton .Icon img
{
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 36px;
}
.SpellButtonButton:hover .Icon
{
	background: linear-gradient(#181818, #080808);
	border-color: #404040;
}
.SpellButton.Castable .SpellButtonButton:active .Icon
{
	background: linear-gradient(#303030, #202020);
	border-color: #707070;
	transform: translateY(1px);
}
.SpellButton:not(.Castable) .SpellButtonButton .Icon img
{
	filter: brightness(0.3);
}

.SpellButton .SpellButtonButton h1
{
	margin-left: 5px;
	font-size: 13px;
	font-weight: normal;
	color: #606060;
	text-shadow: 1px 1px 2px black;
	flex-grow: 1;
}
.SpellButton.Castable .SpellButtonButton h1
{
	color: gold;
}
.SpellButton.Castable .SpellButtonButton:active h1
{
	color: white;
	transform: translateY(1px);
}

.SpellButton .MetamagicWidget
{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #00000080;
	border-radius: 20px;
	padding: 0 4px;
}
.SpellButton:not(.Metamagic) .MetamagicWidget
{
	display: none;
}
.SpellButton .MetamagicWidget .Adjust
{
	font-size: 12px;
	padding: 4px 4px;
	color: #808080;
	cursor: pointer;
	text-shadow: 0 0 6px black;
}
.SpellButton .MetamagicWidget .Adjust:hover
{
	color: #e0e0e0;
}
.SpellButton .MetamagicWidget .Adjust:active
{
	color: #ffffff;
	transform: translateY(1px);
}
.SpellButton .MetamagicWidget .Level
{
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: greenyellow;
	min-width: 18px;
}

.SpellButton .DurationClip
{
	position: absolute;
	width: 18px;
	height: 36px;
	overflow: hidden;
	left: 16px;
	top: -2px;
	box-sizing: border-box;
}
.SpellButton .DurationFill
{
	width: 18px;
	height: 36px;
	border: 2px solid var(--currency-mana-color);
	position: absolute;
	box-sizing: border-box;
	visibility: hidden;
}
.SpellButton.HasDuration .DurationFill
{
	visibility: visible;
}
.SpellButton .DurationFill.Left
{
	border-radius: 36px 0 0 36px;
	border-right: none;
	transform-origin: right;
	left: -2px;
	top: -2px;
}
.SpellButton .DurationFill.Right
{
	border-radius: 0 36px 36px 0;
	border-left: none;
	transform-origin: left;
}

.QueuedSpell
{
	box-sizing: border-box;
	cursor: pointer;
	margin: 4px;
	position: relative;
	border: 2px solid #303030;
	border-top-color: #404040;
	border-bottom-color: #202020;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	box-shadow: 0 0 4px 2px black;
}
.QueuedSpell.Hidden
{
	display: none;
}
.QueuedSpell:active
{
	transform: translateY(1px);
}

.QueuedSpell .Count
{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 2px;
	background-color: black;
	border-radius: 4px;
	font-size: 11px;
	box-shadow: 0 0 1px 1px black;
	color: gold;
}
.QueuedSpell.NoCount .Count
{
	display: none;
}

/****************************************************************************************************************************************/
#RightColumn
{
	flex: 0 0.5 425px;
	min-height: 0;

	display: flex;
	flex-direction: column;
}

#DomainTabButton { background-image: url("images/tab-domain.svg"); }
#MilitaryTabButton { background-image: url("images/tab-military.svg"); }

body:not(.MilitaryEnabled) #RightColumn .TabBar
{
	display: none;
}

#Domain
{
	flex: 1 1;
	padding: 10px 20px;
	
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;

	background-color: #080808;
	background-image: url(images/bg-citadel.svg);
	background-size: 80px;

	box-shadow: inset 0px 0px 16px 8px black;
}

#IdleWorkers
{
	background-color: black;
	background-image: url(images/worker-skeleton.svg);
	background-repeat: no-repeat;
	background-position: 8px 50%;
	background-size: 24px;
	box-shadow: 0 0 4px #303030;
	height: 32px;
	min-width: 64px;
	border-radius: 32px;

	padding: 4px 4px 4px 40px;
	box-sizing: border-box;

	position: absolute;

	visibility: hidden;
}
#IdleWorkers.Visible
{
	visibility: visible;
}

/***************************************************************************************************************************************/
#DomainLocations
{
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}
#DomainLocations .Location
{
	height: 100px;
	background: black;
	box-shadow: 0px 2px 6px 3px black;
	margin: 4px;
	padding: 5px;
	border: 1px solid #606060;
	border-radius: 4px;
	display: none;
	flex-direction: column;
}
#DomainLocations .Location.Visible
{
	display: flex;
}
#DomainLocations .LocationName
{
	font-size: 12px;
	padding: 0;
	margin-bottom: 5px;
	width: 100%;
	text-align: left;
}
#DomainLocations .Content
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#DomainLocations .WorkerAssignments
{
	position: relative;
	display: flex;
	width: 50px;
	flex-direction: column;
	visibility: hidden;
}
#DomainLocations .WorkerAssignments.Visible
{
	visibility: visible;
}
#DomainLocations .Allocation
{
	width: 100%;
	margin: 4px 0;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
}
#DomainLocations .WorkerAssignments .Up, #DomainLocations .WorkerAssignments .Down
{
	width: 100%;
	text-align: center;
	color: #606060;
	padding: 0;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	cursor: pointer;
}
#DomainLocations .WorkerAssignments .Up:hover, #DomainLocations .WorkerAssignments .Down:hover
{
	color: #f0f0f0;
}
#DomainLocations .WorkerAssignments .Up:active, #DomainLocations .WorkerAssignments .Down:active
{
	transform: translateY(1px);
}

#DomainWastelands.Location { border-color: var(--domain-wasteland-color-dark); background: url("images/location-wastelands.svg") no-repeat 100% 50% #000000; }
#DomainWastelands .LocationName { color: var(--domain-wasteland-color); }
span.Wastelands { color: var(--domain-wasteland-color); }

#DomainForest.Location { border-color: var(--domain-forest-color-dark); background: url("images/location-forest.svg") no-repeat 100% 50% #000000; }
#DomainForest .LocationName { color: var(--domain-forest-color); }
span.Forest { color: var(--domain-forest-color); }

#DomainMines.Location { border-color: var(--domain-mines-color-dark); background: url("images/location-mines.svg") no-repeat 100% 50% #000000; }
#DomainMines .LocationName { color: var(--domain-mines-color); }
span.Mines { color: var(--domain-mines-color); }

#DomainSanctum.Location { border-color: var(--domain-sanctum-color-dark); background: url("images/location-sanctum.svg") no-repeat 100% 50% #000000; }
#DomainSanctum .LocationName { color: var(--domain-sanctum-color); }
span.Sanctum { color: var(--domain-sanctum-color); }

#DomainCourtyard.Location { border-color: var(--domain-courtyard-color-dark); background: url("images/location-courtyard.svg") no-repeat 100% 50% #000000; }
#DomainCourtyard .LocationName { color: var(--domain-courtyard-color); }
span.Courtyard { color: var(--domain-courtyard-color); }


#DomainLocations .Buildings
{
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.DomainBuilding
{
	width: 50px;
	height: 65px;
	position: relative;
	margin-right: 10px;
	overflow: visible;
}

.DomainBuilding img
{
	width: 36px;
	height: 36px;
	padding: 10px 5px;

	border: 2px solid #505050;
	border-top-color: #707070;
	border-bottom-color: #303030;
	border-radius: 6px;
	background-color: #000000;
	box-shadow: 0 0 4px 4px #000000;
	cursor: pointer;
}
.DomainBuilding .LevelWidget
{
	position: absolute;
	width: 80px;
	left: -15px;
	bottom: -8px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.DomainBuilding .LevelWidget .Adjust
{
	font-size: 12px;
	padding: 4px 4px;
	color: #808080;
	visibility: hidden;
	cursor: pointer;
	text-shadow: 0 0 6px black;
}
.DomainBuilding .LevelWidget .Adjust:hover
{
	color: #e0e0e0;
}
.DomainBuilding .LevelWidget .Adjust:active
{
	color: #ffffff;
	transform: translateY(1px);
}
.DomainBuilding .LevelWidget .Level
{
	height: 18px;
	background: black;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: greenyellow;
	border: 2px solid #606060;
	min-width: 18px;
	border-radius: 18px;
}

.DomainBuilding.HasUpkeep:not(.Hidden) .LevelWidget .Adjust
{
	visibility: visible;
}
.DomainBuilding.SomeDisabled .LevelWidget .Level
{
	color: orange;
}


.DomainBuilding.Hidden
{
	border: 1px solid #606060;
	cursor: default;
}
.DomainBuilding.Hidden .LevelWidget
{
	visibility: hidden;
}
.DomainBuilding.Hidden img
{
	visibility: hidden;
}

.DomainBuilding:not(.Affordable)
{
	border-color: #101010;
}
.DomainBuilding:not(.Affordable) img
{
	filter: brightness(30%);
}

.DomainBuilding.Affordable:not(.Hidden) img:hover
{
	border-color: #909090;
	background-color: #202020;
}
.DomainBuilding.Affordable:not(.Hidden) img:active
{
	border-color: #f0f0f0;
	background-color: #303030;
	transform: translateY(1px);
}

/***************************************************************************************************************************************/
#Military
{
	flex: 1 1;
	padding: 10px 20px;
	
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;

	background-color: #080808;
	background-image: url("images/bg-citadel.svg");
	background-size: 80px;

	box-shadow: inset 0px 0px 16px 8px black;

	display: flex;
	flex-direction: column;
}

#MilitaryBottomPanel
{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/***************************************************************************************************************************************/
#PlayerStandingArmy
{
	flex: 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	margin: 10px 0;

	width: 100%;
	padding: 4px;
	border: 1px solid #303030;
	border-radius: 4px;
	background: #000000c0;
	box-shadow: 0px 2px 6px 3px black;
}

.StandingArmyUnit
{
	margin: 4px;
	width: 50px;
	height: 56px;
	position: relative;
}
.StandingArmyUnit .Portrait
{
	width: 50px;
	height: 50px;
	background: no-repeat center/42px;
	border: 2px solid #707070;
	border-top-color: #808080;
	border-bottom-color: #606060;
	border-radius: 50px;
	box-shadow: inset 0px 0px 2px 1px black, 0px 0px 2px 1px black;
	box-sizing: border-box;
	filter: brightness(90%);
}
.StandingArmyUnit:hover
{
	filter: none;
}
.StandingArmyUnit .Count
{
	min-width: 20px;
	height: 20px;
	background: black;
	border: 2px solid #808080;
	border-radius: 20px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: palegreen;
	box-shadow: 0px 0px 4px 2px black;
}
.StandingArmyUnit.Hidden
{
	display: none;
}
.StandingArmyUnit.CanToggleRecruitment
{
	cursor: pointer;
}
.StandingArmyUnit.CanToggleRecruitment:active
{
	transform: translateY(1px);
}

@keyframes RecruitIndicator {
	from {
		transform: none;
	}
	to {
		transform: rotate(360deg);
	}
}

.StandingArmyUnit .RecruitIndicator
{
	width: 18px;
	height: 18px;
	border-radius: 18px;
	position: absolute;
	right: -8px;
	bottom: 16px;
	background: black url("images/autorecruit.svg") no-repeat center;
	box-shadow: 0px 0px 2px 1px black;
	animation: RecruitIndicator 4.0s infinite linear;
}
.StandingArmyUnit:not(.Recruiting) .RecruitIndicator
{
	animation: none;
	filter: saturate(0) brightness(0.5);
}
.StandingArmyUnit:not(.CanToggleRecruitment) .RecruitIndicator
{
	display: none;
}

/***************************************************************************************************************************************/
.MilitaryUnit
{
	color: steelblue;
}
.MilitarySkill, .MilitaryAttack, .MilitaryDefense
{
	background: left/16px no-repeat;
	color: steelblue;
	padding-left: 18px;
}
.MilitarySkill.StatBlock, .MilitaryAttack.StatBlock, .MilitaryDefense.StatBlock
{
	display: inline-block;
	min-width: 70px;
}
.MilitarySkill
{
	background-image: url("images/stat-skill.svg");
}
.MilitaryAttack
{
	background-image: url("images/stat-attack.svg");
}
.MilitaryDefense
{
	background-image: url("images/stat-defense.svg");
}
.MilitaryAbility
{
	color: gold;
}

/***************************************************************************************************************************************/
.SmallMilitaryUnit
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 3px;
}
.SmallMilitaryUnit .Icon
{
	width: 24px;
	height: 24px;
	border: 2px solid #808080;
	background: black no-repeat center;
	box-shadow: inset 0px 0px 1px 1px black;
	border-radius: 24px;
	box-sizing: border-box;
}
.SmallMilitaryUnit .Text
{
	color: #808080;
	margin-left: 4px;
	font-size: 14px;
	vertical-align: center;
}

.WarTargetFeature
{
	width: 24px;
	height: 24px;
	border: 2px solid #505080;
	background: black no-repeat center;
	box-shadow: inset 0px 0px 1px 1px black;
	background-size: 18px;
	border-radius: 8px;
	box-sizing: border-box;
	margin-left: 8px;
}

/***************************************************************************************************************************************/
#ArmyDeployment
{
	flex: 0 0;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin: 10px 0;

	width: 100%;
	padding: 4px;
	border: 1px solid #303030;
	border-radius: 4px;
	background: #000000c0;
	box-shadow: 0px 2px 6px 3px black;
}
#ArmyDeployment.Hidden
{
	display: none;
}

#ArmyDeploymentUnits
{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#ArmyDeploymentUnitsOuter
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#ArmyDeploymentShortcuts
{
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
#ArmyDeploymentShortcuts button
{
	margin: 2px;
	padding: 3px 6px;
	font-size: 12px;
	text-align: center;

	border: 1px solid #404040;
	background: black;
	color: #808080;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}
#ArmyDeploymentShortcuts button:hover
{
	border-color: #606060;
	color: #a0a0a0;
}
#ArmyDeploymentShortcuts button:active
{	
	transform: translateY(1px);
}

#ArmyDeploymentCost
{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #808080;
}
#ArmyDeploymentCost.NoCost
{
	color: #404040;
}

.ArmyDeploymentWidget
{
	margin: 4px;
	width: 32px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ArmyDeploymentWidget .Portrait
{
	width: 32px;
	height: 32px;
	background: no-repeat center/28px;
	border: 2px solid #707070;
	border-top-color: #808080;
	border-bottom-color: #606060;
	border-radius: 32px;
	box-shadow: inset 0px 0px 2px 1px black;
	box-sizing: border-box;
	position: relative;
}
.ArmyDeploymentWidget .Count
{
	background: black;
	position: absolute;
	right: -4px;
	bottom: -4px;
	text-align: center;
	font-size: 12px;
	color: palegreen;
	box-shadow: 0px 0px 4px 2px black;

	height: 16px;
	min-width: 16px;
	border-radius: 16px;
	line-height: 16px;
}
.ArmyDeploymentWidget.Overassigned .Count
{
	color: orange;
}
.ArmyDeploymentWidget .Adjust
{
	font-size: 12px;
	color: #808080;
	cursor: pointer;
	text-shadow: 0 0 6px black;
	padding: 2px 8px;
}
.ArmyDeploymentWidget .Adjust:hover
{
	color: #e0e0e0;
}
.ArmyDeploymentWidget .Adjust:active
{
	color: #ffffff;
	transform: translateY(1px);
}
.ArmyDeploymentWidget.Hidden
{
	display: none;
}

/***************************************************************************************************************************************/
#WarTargets
{
	width: 100%;
	margin-top: 10px;
}
#WarTargets.Hidden
{
	display: none;
}
.WarTarget
{
	box-shadow: 0px 2px 6px 3px black;
	margin: 8px 4px;
	padding: 4px;
	border: 1px solid #606060;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	background: #080808 url("images/bg-village.svg") no-repeat right/96px;
	cursor: pointer;
}
.WarTarget:hover
{
	border-color: #f02020;
	background-color: #200808;
	box-shadow: 0px 2px 6px 3px black, inset 0px 0px 8px #401010;
}
.WarTarget:active
{
	transform: translateY(1px);
}

.WarTarget .CityName, .MilitaryBoxHeader
{
	text-align: center;
	color: gold;
	font-size: 14px;
	margin: 1px;
}

.WarTarget .CityPopulation
{
	text-align: center;
	font-size: 13px;
	margin-bottom: 6px;
	color: #808080;
}

.WarTarget .ArmyList, .Invaders .ArmyList
{
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

#Invaders
{
	background: black;
	box-shadow: 0px 2px 6px 3px black, inset 0px 0px 8px 0 #4060b0;
	margin: 8px 4px;
	padding: 4px;
	border: 1px solid #4060b0;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	background: black url("images/bg-invaders.svg") no-repeat right/96px;
}
#Invaders.Hidden
{
	display: none;
}
#Invaders .Countdown
{
	text-align: center;
	color: #c03030;
	font-size: 14px;
	margin: 3px;
}
#Invaders .ArmyList
{
	margin-top: 10px;
}

#InvaderAnger
{
	background: black;
	box-shadow: 0px 2px 6px 3px black;
	margin: 8px 4px;
	padding: 4px;
	border: 1px solid #4060b0;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	background: black url("images/bg-invaders.svg") no-repeat right/96px;
}
#InvaderAnger.Hidden
{
	display: none;
}
#InvaderAngerBar
{
	height: 16px;
	border: 1px solid firebrick;
	border-radius: 4px;
	background: black;
	box-shadow: 0px 0px 4px 2px black;
	padding: 1px;
	position: relative;
	box-sizing: border-box;
	margin: 8px;
}
#InvaderAnger .BarFill
{
	height: 100%;
	width: 100%;
	background: rgb(70, 7, 7);
	border-radius: 3px;
}
#InvaderAnger.ZeroChance .BarFill
{
	background: rgb(50, 50, 50);
}
#InvaderAnger.ZeroChance #InvaderAngerBar
{
	border-color: rgb(50, 50, 50);
}
/***************************************************************************************************************************************/
#BattleResult
{
	background: black;
	box-shadow: 0px 2px 6px 3px black;
	margin: 4px;
	margin-top: 10px;
	padding: 8px;
	/* border: 2px solid #a03030; */
	box-shadow: inset 0 0 8px #a03030, 1px 1px 4px 2px black;
	border-radius: 4px;
	display: none;
	flex-direction: column;
	align-items: center;
	background: black url("images/bg-battledefeat.svg") no-repeat right/96px;
}

#BattleResult.Victory
{
	border-color: #60b070;
	box-shadow: inset 0 0 8px #60b070, 1px 1px 4px 2px black;
	background: black url("images/bg-battlevictory.svg") no-repeat right/96px;
}

#BattleResult.Visible
{
	display: flex;
}

#BattleResult .BattleName
{
	text-align: center;
	color: gold;
	font-size: 14px;
	margin: 3px 3px 6px 3px;
}

#BattleResult .BattleResultLabel
{
	text-align: center;
	color: #a0a0a0;
	font-size: 12px;
	margin-bottom: 3px;
}
#BattleResult .BattleResultLore
{
	text-align: center;
	color: #606060;
	font-style: italic;
	font-size: 12px;
}

#BattleResult .BattleResultCasualties
{
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

#BattleResult .BattleResultSpoils
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#BattleResult .BattleResultSpoils span
{
	font-size: 13px;
	margin: 1px 4px;
}

#BattleResult.NoCasualties .BattleResultLabelCasualties, #BattleResult.NoCasualties .BattleResultCasualties
{
	display: none;
}
#BattleResult.NoSpoils .BattleResultLabelSpoils, #BattleResult.NoSpoils .BattleResultSpoils
{
	display: none;
}

/***************************************************************************************************************************************/
#ActiveBattle
{
	background: black;
	box-shadow: 0px 2px 6px 3px black;
	padding: 8px 32px;
	border: 2px solid #a03030;
	box-shadow: inset 0 0 8px #a03030, 1px 1px 4px 2px black;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black url("images/bg-village.svg") no-repeat right/96px;
	position: relative;
}
#ActiveBattle.Defensive
{
	background: black url("images/bg-siege.svg") no-repeat left/96px;
}
#ActiveBattle.Hidden
{
	display: none;
}	
#ActiveBattle .BattleName
{
	text-align: center;
	color: gold;
	font-size: 15px;
	margin: 3px 3px 6px 3px;
	border-bottom: 1px solid #401010;
	width: 100%;
}

#ActiveBattle .BattleInterface
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#ActiveBattle .BattleStatus
{
	flex: 0 1 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ActiveBattle .BattleStatusHeader
{
	width: 100%;
	text-align: center;
	color: #a0a0a0;
	font-size: 12px;
	text-decoration: underline;
}

#ActiveBattle .BattleStatus .Fortifications
{
	margin-top: 6px;
	height: 18px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 0% 50%;
	background-image: url("images/fortstrength.svg");
	padding-left: 18px;
	color: steelblue;
	font-size: 12px;
}
#ActiveBattle .BattleStatus.NoFortifications .Fortifications
{
	display: none;
}

#ActiveBattle .BattleStatus .NoFortifications
{
	margin-top: 6px;
	height: 18px;
	line-height: 18px;
	color: #808080;
	font-size: 10px;
}
#ActiveBattle .BattleStatus:not(.NoFortifications) .NoFortifications
{
	display: none;
}

#ActiveBattle .Frontline
{
	margin-top: 6px;
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#ActiveBattle .BattleFile
{
	margin: 0 2px;
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 2px;
	justify-items: center;
	align-items: center;
}
#ActiveBattle .BattleFile.Empty
{
	display: none;
}
#ActiveBattle .RankSlot
{
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	margin: 1px;
}
#ActiveBattle .RankSlot .Count
{
	margin-top: 20px;
	background: #000000ff;
	border-radius: 8px;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	color: #a0a0a0;
	visibility: hidden;
}
#ActiveBattle .RankSlot.HasUnit
{
	border: 2px solid #606060;
	border-radius: 36px;
	background: black no-repeat center/34px;
}
#ActiveBattle .RankSlot.HasUnit.Casualties
{
	border-color: orangered;
}
#ActiveBattle .RankSlot.HasUnit.Casualties .Count
{
	color: orangered;
}

#ActiveBattle .RankSlot.HasUnit .Count
{
	visibility: visible;
}
#ActiveBattle .Interaction
{
	width: 16px;
	height: 16px;
	margin: 1px 0;
	background: no-repeat center/20px;
}
#ActiveBattle .Interaction.Clash
{
	background-image: url("images/battle-clash.svg");
	background-position: center;
}
#ActiveBattle .Interaction.Flank
{
	background-image: url("images/battle-flank.svg");
	background-position: center;
}

/*
#ActiveBattle .Interaction.Flank.AttackerLeft
{
	transform: scaleY(-1);
	background-position: bottom;
}
#ActiveBattle .Interaction.Flank.AttackerRight
{
	background-position: bottom;
}
#ActiveBattle .Interaction.Flank.DefenderLeft
{
	transform: scale(-1, -1);
	background-position: bottom;
}
#ActiveBattle .Interaction.Flank.DefenderRight
{
	transform: scaleX(-1);
	background-position: bottom;
}
*/
#ActiveBattle .Interaction.Flank.AttackerLeft
{
	transform: scaleX(-1);
}
/*#ActiveBattle .Interaction.Flank.AttackerRight
{
}*/
#ActiveBattle .Interaction.Flank.DefenderLeft
{
	transform: scale(-1, -1);
}
#ActiveBattle .Interaction.Flank.DefenderRight
{
	transform: scaleY(-1);
}


#ActiveBattle .RetreatButton
{
	position: absolute;
	left: 8px;
	top: 8px;
	width: 24px;
	height: 24px;
	background: url("images/retreat.svg") no-repeat center;
	cursor: pointer;
}
#ActiveBattle .RetreatButton:active
{
	transform: translateY(1px);
}
#ActiveBattle.Defensive .RetreatButton
{
	display: none;
}

#ActiveBattle .SpellEffects
{
	margin-top: 8px;
}
#ActiveBattle .NoSpellEffects
{
	height: 18px;
	line-height: 18px;
	color: #808080;
	font-size: 10px;
}
#ActiveBattle .BattleStatus:not(.NoSpellEffects) .NoSpellEffects
{
	display: none;
}

#PlayerFortStrength
{
	background: url("images/fortstrength.svg") 0% 50%/20px 20px no-repeat;
	padding-left: 24px;
	margin-top: 10px;
}
#PlayerFortStrength.Hidden
{
	display: none;
}

#PlayerFortStrengthBar
{
	height: 20px;
}

.FortBar
{
	height: 100%;
	border: 1px solid steelblue;
	border-radius: 4px;
	background: black;
	box-shadow: 0px 0px 4px 2px black;
	padding: 1px;
	position: relative;
	box-sizing: border-box;
}
.FortBar .BarFill
{
	height: 100%;
	width: 100%;
	background: #1f2d47;
	border-radius: 3px;
}
.FortBar .BarText
{
	height: 100%;
	width: 100%;
	line-height: 18px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 4px;
	color: #a0a0a0;
	font-size: 12px;
	text-shadow: 1px 1px black;
}

.BattleSpellEffect
{
	height: 16px;
	background-position: left;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	padding-left: 20px;
	font-size: 13px;
	line-height: 16px;
}

.BattleSpellEffect_Palemist
{
	background-image: url('images/tech/fog.svg');
}

/***************************************************************************************************************************************
 * These appear in multiple places, both as spans and divs.
 */
.Currency
{
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 0% 50%;
	padding-left: 18px;
}

.CurrencyResearch
{
	color: var(--currency-research-color);
	background-image: url("images/research.svg");
}
.CurrencyPrestige
{
	color: #ff9100;
	background-image: url("images/prestige.svg");
}
.CurrencyPrestigescraps
{
	color: #ff9100;
	background-image: url("images/prestigescraps.svg");
}
.CurrencyMana
{
	color: var(--currency-mana-color);
	background-image: url("images/mana.svg");
}
.CurrencyBones
{
	color: blanchedalmond;
	background-image: url("images/bones.svg");
}
.CurrencyFlesh
{
	color: palevioletred;
	background-image: url("images/flesh.svg");
}
.CurrencyLumber
{
	color: burlywood;
	background-image: url("images/lumber.svg");
}
.CurrencyStone
{
	color: gray;
	background-image: url("images/stone.svg");
}
.CurrencyOre
{
	color: slategray;
	background-image: url("images/ore.svg");
}
.CurrencyMetal
{
	color: silver;
	background-image: url("images/metal.svg");
}
.CurrencyCrystal
{
	color: mediumseagreen;
	background-image: url("images/crystal.svg");
}
.CurrencyCrystaldust
{
	color: mediumseagreen;
	background-image: url("images/crystal-dust.svg");
}
.CurrencyEctoplasm
{
	color: paleturquoise;
	background-image: url("images/ectoplasm.svg");
}
.CurrencyTomes
{
	color: slateblue;
	background-image: url("images/tomes.svg");
}

.FortStrength
{
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 0% 50%;
	background-image: url("images/fortstrength.svg");
	padding-left: 18px;
	color: steelblue;
}

/***************************************************************************************************************************************/
#SaveIndicator
{
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	background: black;
	color: salmon;
	font-size: 12px;
	visibility: hidden;
}
#SaveIndicator.Visible
{
	visibility: visible;
}

#SettingsButton
{
	position: absolute;
	right: 2px;
	background: url("images/settings.svg") center/26px no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#SettingsButton:active
{
	transform: translateY(1px);
}

.Popup
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000e0;
	display: none;
}
.Popup.Visible
{
	display: block;
}

.Popup > .Window
{
	border: 2px solid #606060;
	border-top-color: #808080;
	border-bottom-color: #404040;
	border-radius: 8px;
	box-shadow: 2px 2px 4px black;
	background: black;
	padding: 10px;
	margin: 100px auto auto auto;
	display: flex;
	flex-direction: column;
}

.Popup h2
{
	font-size: 14px;
	color: gold;
	margin: 4px 0 2px 0;
}
.Popup p
{
	font-size: 12px;
	color: #f0f0f0;
	margin: 0 10px 4px 10px;
	user-select: text;
}
.Popup hr
{
	border: none;
	border-bottom: 1px solid #303030;
	margin-bottom: 4px;
	width: 100%;
}

.Popup .Row
{	
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Popup .ButtonRow
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	border-top: 1px solid #606060;
	padding-top: 8px;
	margin-top: 8px;
}

.Popup input
{
	background-color: black;
	border: 1px solid #a0a0a0;
	border-radius: 2px;
	height: min-content;
	padding: 4px;
	color: #c0c0c0;
}

.Popup button
{
	border: 1px solid #a0a0a0;
	background: black;
	color: #c0c0c0;
	border-radius: 3px;
	padding: 8px 20px;
	font-size: 14px;
	margin: 2px;
	cursor: pointer;
	outline: none;
}
.Popup button:hover, .Popup button:focus
{
	border: 1px solid #e0e0e0;
	color: #e0e0e0;
	background: #303030;
}
.Popup button:active
{
	border: 1px solid #ffffff;
	color: #ffffff;
	background: #101010;
	transform: translateY(1px);
}

.Popup button.HardReset
{
	border: 1px solid red;
	background: #301000;
	color: red;
}
.Popup button.HardReset:not(:disabled):hover
{
	border-color: salmon;
	background: #903000;
	color: salmon;
}


.Popup button:disabled
{
	border: 1px solid #303030;
	color: #303030;
	background: #000000;
	cursor: default;
}

#SettingsPopup input
{
	cursor: pointer;
}
#SettingsPopup label
{
	font-size: 14px;
	cursor: pointer;
}
#SettingsPopup h2
{
	margin-top: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #606060;
}
#SettingsPopup > .Window
{
	width: 600px;
}
#SettingsPopup .About
{
	font-size: 11px;
	color: #a0a0a0;
}
#SettingsPopup .About a
{
	color: gold;
}

#SettingsPopup_SaveGame
{
	font-family: monospace;
	height: 40px;
	color: #808080;
	background-color: black;
	border: 1px solid #808080;
	border-radius: 2px;
	padding: 2px;
	resize: none;
}

#MessagePopup > .Window
{
	width: fit-content;
	max-width: 600px;
}
#MessagePopup h2
{
	text-align: center;
	font-size: 16px;
	margin-bottom: 8px;
}
#MessageText, #MessageText p
{
	text-align: center;
	font-size: 14px;
	color: #a0a0a0;
	margin-bottom: 8px;
	font-style: italic;
}
#MessagePopup button
{
	width: fit-content;
	align-self: center;
	margin-top: 16px;
	outline: none;
}

#LoadErrorPopup
{
	background: black;
}
#LoadErrorPopup > .Window
{
	width: fit-content;
	max-width: 600px;
	border-color: red;
}
#LoadErrorPopup h2
{
	text-align: center;
	font-size: 16px;
	margin-bottom: 8px;
	color: red;
}
#LoadErrorPopup, #LoadErrorPopup p
{
	text-align: center;
	font-size: 14px;
	color: #a0a0a0;
	margin-bottom: 8px;
	font-style: italic;
}
#LoadErrorPopup button
{
	width: fit-content;
	align-self: center;
	margin-top: 16px;
	outline: none;
}
#LoadErrorPopup #LoadErrorException
{
	font-family: monospace;
	color: red;
	font-style: normal;
}

@keyframes PrestigeBackground {
	/*from {
		background-color: #ff0000;
	}
	to {
		background-color: #000000;
	}*/
}
@keyframes PrestigeHeader {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
	}
}
@keyframes PrestigeMessage {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes PrestigeReviveButton {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		cursor: pointer;
	}
}

#PrestigeDeathPopup
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
}

#PrestigeDeathPopup.Visible
{
	display: flex;
	animation-name: PrestigeBackground;
	animation-duration: 0.4s;
}

#PrestigeHeader
{
	font-size: 48px;
	font-weight: bold;
	color: #d02020;
	animation-name: PrestigeHeader;
	animation-delay: 0.5s;
	animation-duration: 5s;
	animation-fill-mode: both;
	text-align: center;
	text-transform: uppercase;
}
#PrestigeMessage
{
	font-size: 14px;
	color: #808080;
	animation-name: PrestigeMessage;
	animation-delay: 5s;
	animation-duration: 2s;
	animation-fill-mode: backwards;
	width: 580px;
	margin: 30px 0;
	text-align: center;
	font-style: italic;
}
#PrestigeReviveButton
{
	width: 64px;
	height: 64px;
	border: 4px solid #606060;
	box-shadow: inset 0 0 4px 4px black;
	border-radius: 64px;
	background: url("images/tech/phylactery.svg") center;
	filter: brightness(90%);

	animation-name: PrestigeReviveButton;
	animation-delay: 10s;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}
#PrestigeReviveButton:hover
{
	border-color: #a0a0a0;
	filter: none;
}
#PrestigeReviveButton:active
{
	border-color: #ffffff;
	transform: translateY(1px);
}

/****************************************************************************************************************************************/
.TabBar
{
	width: 100%;
	height: 32px;
	border-bottom: 2px solid #484848;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 3px;
	background: black;
}
.TabBar > div
{
	width: 32px;
	height: 32px;
	padding: 4px 32px;
	margin: 0 2px;
	background-position: 50% 35%;
	background-size: 26px 26px;
	background-repeat: no-repeat;
	background-color: #020202;
	border: 2px solid #484848;
	border-bottom: none;
	border-radius: 8px;
	cursor: pointer;
}

.TabBar > div.InactiveTab
{
	height: 22px;
	border-color: #202020;
	border-radius: 8px 8px 0 0;
}
.TabBar > div:hover
{
	border-color: #a0a0a0;
	box-shadow: inset 0 0 8px #606060;
}
.TabBar > div:active
{
	border-color: #c0c0c0;
	box-shadow: inset 0 0 8px #a0a0a0;
}

.InactiveTabContent
{
	display: none !important;
}

.ModifierKey
{
	background-color: #303030;
	color: #c0c0c0;
	font-style: italic;
	padding: 0 6px 0 3px;
	border-radius: 4px;
}